@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap);

body {
  background: rgba(243, 243, 243, 0.99);
  font-size: 13px !important;
  color: #000;
  margin: 0px;
  padding: 0px;
  line-height: normal !important;
  font-family: "Noto Sans KR", "Montserrat", sans-serif !important;
}
#coin_name_id_data {
  float: left;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}
a:visit {
  color: #000;
}
table,
div {
  border-collapse: collapse;
}
img,
fieldset {
  border: 0;
  vertical-align: middle;
}
ul {
  margin: 0;
}
#top_menu ul {
  margin-bottom: 0;
  display: inline-block;
}
li.right {
  text-align: right;
  margin: 0;
  padding: 0;
}
.radio,
.check {
  vertical-align: middle;
}

::-webkit-input-placeholder {
  /* Chrome */
  color: #aaa !important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #aaa !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa !important;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #aaa !important;
  opacity: 1;
}

button {
  outline: none;
}
input.button {
  outline: none;
}


/*-- Layout -----*/
.container {
  width: 98%;
  margin: 0 auto;
}
.containerpp {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 50px;
}
.header2 {
  width: 100%;
  box-sizing: border-box;
}

#gnb_menu {
  background: #240978;
  padding: 0 2%;
  margin: 0;
  height: 47px;
  line-height: 47px;
}
#gnb_menu ul {
  list-style-type: none;
  width: 100%;
  overflow: hidden;
}
#gnb_menu li {
  float: left;
  margin-right: 25px;
}
#gnb_menu li.right {
  float: right;
  color: #c9c9c9;
}
#gnb_menu li.right a {
  font-size: 9.7pt;
  font-weight: 400;
}
#gnb_menu li.right * {
  color: #c9c9c9;
}
#gnb_menu a {
  color: white;
}
#gnb_menu img {
  width: 180px;
}
#top_menu {
  background: #fff;
  list-style-type: none;
  overflow: hidden;
  padding: 15px 2%;
  box-shadow: 9.6px 2.9px 12.7px 0.3px rgba(125, 125, 125, 0.18);
}

#top_menu li {
  float: left;
  margin-right: 30px;
}
#top_menu li:last-child {
  margin-right: 0px;
}
a:hover,
a:focus {
  text-decoration: none !important;
}
#top_menu li.sub_menus {
  padding-top: 10px;
}
#top_menu .site_logo {
  float: left;
  margin-right: 36px;
  margin-top: 3px;
}
#top_menu li.right {
  float: right;
  margin-right: 0;
  margin-left: 12px;
}
#top_menu a {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
#top_menu a:hover {
  text-decoration: none;
}
#top_menu input.button {
  /* width: 110px;
  height: 44px; */
  padding: 3px 12px;
  font-size: 16px;
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px !important;

  cursor: pointer;
}
#top_menu input.login {
  color: #6738ff;
  background: white;
  border: 1px solid #6738ff;
  -webkit-transition: color 0s, background-color 0s, -webkit-transform 0s;
  transition: color 0s, background-color 0s, transform 0s;
}
#top_menu input.login:hover {
  background: #6738ff;
  color: white;
  -webkit-transition: color 0.3s, background-color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, background-color 0.4s, transform 0.4s;
}
#top_menu input.join {
  color: white;
  background: #6738ff;
  border: 1px solid #6738ff;
}
/*#top_menu input.join:hover {background:white;color:#6738ff}*/
#top_menu input.logout {
  color: white;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  -webkit-transition: color 0s, background-color 0s, -webkit-transform 0s;
  transition: color 0s, background-color 0s, transform 0s;
  font-family: "Noto Sans KR", "Montserrat", sans-serif !important;
}
/* #top_menu input.logout:hover {
  color: #949494;
  background: white;
  border: 1px solid #b4b4b4;
  -webkit-transition: color 0.2s, background-color 0.2s, -webkit-transform 0.2s;
  transition: color 0.2s, background-color 0.2s, transform 0.2s;
} */

.custom_frame {
  border: 1px solid #dddddd;
  background: #fff;
  margin: 20px 0;
  padding: 15px 0 30px;
}

#gnb_menu li input.member {
  width: auto;
  height: auto;
  margin-left: 7px;
  background-color: #ffffff;
  border: 1px solid #6738ff;
  pointer-events: none;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  outline: none;
  display: inline-block;
  color: #6738ff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.2;
}
#gnb_menu li input.member.left {
  display: none;
}

#bottom_menu {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  margin: 0;
  padding: 25px 2%;
  text-align: center;
}
#bottom_menu a {
  font-size: 14px;
  font-weight: 500;
  color: #353232;
  margin: 0 30px 0 0;
  padding: 0;
  display: inline-block;
}

#footer {
  background: #fff;
}
#footer ul {
  list-style-type: none;
  width: 100%;
  padding: 52px 0 22px 0;
  overflow: hidden;
}
#footer li {
  float: left;
  width: 74%;
}
#footer li.copyright_block {
  float: right;
  width: 25%;
}
#footer li .address {
  font-size: 16px;
  font-weight: 500;
  color: #afafaf;
  line-height: 1.9;
  margin-top: 18px;
}
#footer li .partner {
  margin-top: 12px;
}
#footer li .copyright {
  font-size: 14px;
  font-weight: 500;
  color: #afafaf;
  margin-top: 24px;
}
#top_menu .btn_right_man {
  float: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
#top_menu .btn_right {
  float: right;
  margin-right: 0;
  margin-left: 12px;
}
#top_menu > .btn_right_man > .btn_right > .btn-right-username {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#top_menu > .btn_right_man > .btn_right > .btn-right-username .profile-img-wrap {
  position: relative;
  margin-right: 13px;
}
#top_menu > .btn_right_man > .btn_right > .btn-right-username .profile-img-wrap::after {
  /* red dot */
  display: none;
  content: "";
  width: 7px;
  height: 7px;
  background-color: #ff0000;
  position: absolute;
  top: 4px;
  right: 3px;
  border-radius: 100px;
}
#top_menu > .btn_right_man > .btn_right > .btn-right-username .profile-img-wrap .profile-img {
  width: 38px;
}

#top_menu > .btn_right_man > .btn_right > .btn-right-username .profile-username {
	margin-right: 16px;
  line-height: 2.2;
  display: flex;
}
#top_menu > .btn_right_man > .btn_right > .btn-right-username .profile-username .nav-user-name {
  display: flex;
  align-items: center;
}
#top_menu > .btn_right_man > .btn_right > .btn-right-username .member{
  width: auto;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #6738ff;
  pointer-events: none;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  outline: none;
  display: inline-block;
  color: #6738ff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.2;
  display: none;
}

@media (max-width: 992px) { 
  #top_menu > .btn_right_man > .btn_right > .btn-right-username .member{
    display: block;
  }
  #gnb_menu li input.member.member {
    display: none;
  }
  #gnb_menu li input.member.left {
    display: initial;
  }
}


#top_menu .btn_right .general-member-wrap {
	display: inline-block;
	height: 100%;
	margin-right: 10px;
}
#top_menu .btn_right .general-member-wrap .general-member {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	background-color: #888888;
	border-radius: 25px;
	padding: 5px 15px;
	color: #fff;
	font-size: 15px;
	box-sizing: border-box;
}
#msg_pass_check {
  margin-bottom: 10px;
}
.re_img {
  max-width: 100%;
}
.category_mt_80 {
  margin-top: 80px;
}
.man_nav_center {
  float: left;
}
.forget_popop {
  position: fixed;
  width: 520px;
  height: 260px;
  margin-left: -260px;
  margin-top: -130px;
  left: 50%;
  top: 50%;
  z-index: 21;
  background: rgb(249, 249, 249);
  text-align: center;
}
.new_privacy_policy h2 {
  margin-bottom: 5px;
}
.new_privacy_policy h3 {
  font-size: 20px;
  color: #000;
  margin-bottom: 0;
}
.new_privacy_policy p {
  margin-top: 0;
}

.price5 .up1 {
  position: absolute;
  z-index: 99;
  background: #240978;
  width: 22px;
  height: 48.5%;
  top: 0;
  right: 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  line-height: 21px;
}
.price5 {
  position: relative;
  padding-right: 20px;
}
.price5 .up2 {
  position: absolute;
  z-index: 99;
  background: #240978;
  width: 22px;
  height: 48.5%;
  bottom: 0;
  right: 0;
  color: #fff;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
}



@media only screen and (max-width: 1199px) {
  .category_mt_80 {
    margin-top: 30px;
  }
  #top_menu a {
    font-size: 11px !important;
  }
  #top_menu li {
    margin-right: 20px !important;
  }
}
@media only screen and (max-width: 991px) {
  #top_menu a {
    font-size: 13px !important;
  }
  #top_menu .site_logo {
    width: 100%;
    text-align: center;
  }
  #top_menu {
    height: auto;
    text-align: center;
  }
  #top_menu .btn_right {
    width: 50%;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0px !important;
  }
  #top_menu li {
    margin: 0 10px !important;
    float: none !important;
    display: inline-block;
  }
  #bottom_menu {
    line-height: 28px !important;
    padding: 5px 2%;
  }
  .history2 ul.tab_menu li {
    margin-left: 20px;
  }
  #top_menu .btn_right_man {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #footer li,
  #footer li.copyright_block {
    width: 100%;
    text-align: center;
  }
  #footer ul {
    padding: 15px 0 22px 0;
  }
  #gnb_menu li {
    margin-right: 15px;
  }
  #gnb_menu li:nth-child(3) a {
    width: 30px;
    overflow: hidden;
    display: inline-block;
  }

  #footer li .address {
    font-size: 14px;
  }
  .forget_popop {
    position: fixed;
    width: 90%;
    margin-left: 0;
    margin-top: 0;
    left: 5%;
    top: 50%;
  }
  body {
    padding: 0 12px;
  }
}
@media only screen and (max-width: 380px) {
	#top_menu > .btn_right_man > .btn_right > .btn-right-username {
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}
	#top_menu > .btn_right_man > .btn_right > .btn-right-username .general-member-wrap,
	#top_menu > .btn_right_man > .btn_right > .btn-right-username .profile-username {
		margin-right: 0;
	}
  #top_menu > .btn_right_man > .btn_right > .btn-right-username .profile-username {
    margin-bottom: 10px;
  }
}

/* Floating Home Button */
.header2 .floating-home-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
}

.header2 .floating-home-button.off {
  display: none;
}

.header2 .floating-home-button img {
  width: 65px;
  height: 65px;
  cursor: pointer;
  border-radius: 42px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-color: transparent;
}

@media (min-width: 991px) {
  .header2 .floating-home-button {
    display: none;
  }
}
/* /Floating Home Button */