.cate_tag {
}
.cate_tag a {
	font-size: 17px;
    font-weight: bold;
    font-style: normal;
    line-height: 2.67;
    text-align: left;
    color: #c0c0c0;
    margin-right: 30px;
}
.cate_tag a.on {
	color: #6738ff;
	/*padding-bottom: 4px;
	border-bottom: 1px solid #000;*/
}

.cate_title { background:#fcfcfe; padding: 30px; }
.reqdoc_tab h1 {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	line-height: 2.4;
	color: #585858;
}
.reqdoc_tab h2 {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	line-height: 2.67;
	color: #4b4b4b;
	margin-top:90px;
}
.reqdoc_tab h2 span {
	font-weight: normal;
	margin-left: 20px;
}
.reqdoc_tab h3 {    line-height: 37px;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	line-height: 2.67;
	color: #6738ff;
}
.reqdoc_tab h3 span {
	font-weight: normal;
	color: #4b4b4b;
	margin-left: 20px;
}
.reqdoc_tab .cate_desc {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.88;
	text-align: left;
	color: #585858;
}
.reqdoc_tab ul.person { list-style-type:none; overflow:hidden; margin-bottom:60px }
.reqdoc_tab ul.person li {
	float:left;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.67;
	color: #4b4b4b;    width: 28%;
}
.reqdoc_tab ul.person li img{    width: 100%;}
.reqdoc_tab ul.person li:last-child{    width: 56%;}
.person_card thead th {
	font-weight:bold;
	color:#fff;
	width:33%;
	padding:18px 16px !important;
	background: #240978 !important;
	border-left: solid 1px #dddddd;
}
.person_card tbody td {
	width:33%;
	text-align: center !important;
	border-left: solid 1px #dddddd;
}
.person_card p {
	font-size: 18px;
	font-weight: normal;
	line-height: 1.67;
	color: #4b4b4b;
}

.email_ex { padding-right: 70px }
.email_ex p {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	color: #4b4b4b;
}
.email_ex table { margin: 30px 0 80px 20px }
.email_ex tbody th {
	background:#fbfbfc !important;
	border-bottom: solid 1px #efefef;
	font-size: 16px !important;
	font-weight: normal !important;
	line-height: 1.5;
	text-align: center !important;
	color: #1e1e1e !important;
}
.email_ex tbody td {
	border-bottom: solid 1px #efefef !important;
}
.id_li{margin-left:30px; margin-top:30px}
.do_do{width:340px; background:#2d2d8e; font-size:18px; font-weight:300; color:#ffffff; padding:8px; border-radius:40px; margin:20px auto; cursor: pointer;}

.person_card_do{margin-left:20px; margin-right:50px}

.asset-disclaimer-sample-wrapper {
	width: 100%;
	border: 2px solid #efefef;
	display: flex;
	justify-content: center;
	padding: 20px 0;
	margin-bottom: 50px;
}


@media screen and (max-width: 1050px) and (min-width: 768px) {
.reqdoc_tab ul.person li:last-child{    margin-left: 0!important; width:100%}
.reqdoc_tab ul.person li {width: 50%;}
.email_ex table {margin: 30px 0 30px 0;}
.reqdoc_tab h2 {    margin-top: 20px;}
.reqdoc_tab ul.person { margin-bottom: 25px;}
.cate_title { padding: 20px;}
.person_card_do { margin-left: 0;  margin-right: 0;}
.reqdoc_tab h3 {line-height: 1.67;}
.reqdoc_tab h1 { margin-top: 0;}
.email_ex { padding-right: 0px;}
}

@media only screen and (max-width: 767px) {
.reqdoc_tab ul.person li { width: auto;}
.reqdoc_tab ul.person li:last-child {    width: 100%;    margin-left: 0px!important;}
.reqdoc_tab ul.person { margin-bottom: 0;}
.do_do { width: 90%;font-size: 14px;}
.reqdoc_tab h2 span {    margin-left: 0px;}
.cate_title { padding: 10px;}
.person_card_do{    margin-left: 0;    margin-right: 0;}
.reqdoc_tab h2 {    margin-top: 20px;}
.cate_tag a {display: block;}
.id_li{margin-left:10px; margin-top:20px}
.reqdoc_tab ul.person img{ width:100%}
.person_card p {font-size: 15px;}
.email_ex {
    padding-right: 0px;
}
.email_ex table {
    margin: 30px 0 15px 0px;
}
.reqdoc_tab h3 { font-size: 15px;font-weight: bold;    line-height: 25px;}

}




